.nav {
    height: 90px;
    width: 100vw;
}

.breadcrumb-section {
    background-color: #f3f8fa;
    padding-left: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    #breadcrumb1 {
        font-size: 2rem;
        margin: 0;
        width: 200px;
    }
    #breadcrumb2 {
        padding-top: 10px;
        font-size: 1.2rem;
        width: 200px;
    }
}

.content-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    ul {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .nav-item {
            .nav-link {
                color: black;
                font-size: 1.3rem;
                cursor: pointer;
            }
            .active {
                color: #68A4C4;
                border-bottom: 1px solid #68A4C4;
            }
        }
    }
    .grid {
        position: relative;
        max-width: 85vw;
        margin: 0 auto;
        margin-bottom: 40px;
        .item {
            display: block;
            position: absolute;
            height: 300px;
            width: 300px;
            margin: 10px;
            .item-content {
                img {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }
}