nav {
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    z-index: 100;
    background-color: #1e4356;
    .container-sm {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: white;
        padding: 20px 20px;
        transition: 0.5s all;
        h1 {
            cursor: pointer;
        }
        fa-icon {
            color: white;
            font-size: 1.4rem;
            cursor: pointer;
            padding-top: 5px;
            display: block;
        }
        .menu {
            display: none;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                li {
                    z-index: 10;
                    margin: 0 10px;
                    cursor: pointer;
                    &:hover {
                        color: #a2cce3;
                    }
                    .meun-active {
                        color: #a2cce3;
                    }
                }
            }
        }
    }
}

.modal {
    .modal-content {
        z-index: 11;
        margin-top: 50px;
        button {
            position: relative;
            left: 90%;
            top: 5%;
            z-index: 100;
        }
        .modal-body {
            ul {
                list-style-type: none;
                color: #68A4C4;
                padding: 0 0;
                li {
                    z-index: 10;
                    margin: 25px 0px;
                    cursor: pointer;
                    padding: 0 0;
                    &:hover {
                        color: #a2cce3;
                    }
                    .meun-active {
                        color: #a2cce3;
                    }
                }
            }
        }
    }
}

footer {
    box-sizing: border-box;
    width: 100vw;
    background-color: #0b212d;
    padding: 0 40px;
    padding-top: 60px;
    color: white;
    font-size: 0.9rem;
    line-height: 35px;
    h3 {
        color: #a2cce3;
    }
    form {
        input {
            width: 100%;
            margin: 20px 0px;
            border-radius: 20px;
            height: 41px;
        }
        button {
            color: white;
            background-color: #68A4C4;
            box-sizing: border-box;
            border: none;
            height: 35px;
            width: 100px;
            border-radius: 20px;
            position: absolute;
            right: 43px;
            margin-top: 23px;
            &:hover {
                background-color: #54849e;
            }
        }
    }
    hr {
        color: white;
    }
    .links,
    .ourservices {
        color: #a2cce3;
        padding: 15px 0;
        ul {
            list-style: none;
            padding: 0 0;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: #a2cce3;
                }
            }
        }
    }
    .contactus {
        padding: 15px 0;
        line-height: 20px;
        h4 {
            color: #a2cce3;
        }
    }
    .about {
        padding: 15px 0;
        line-height: 20px;
        h4 {
            color: #a2cce3;
        }
        .socialmedia {
            display: flex;
            flex-direction: row;
            .socialmedia-links {
                height: 30px;
                width: 30px;
                background-color: #1e4356;
                border-radius: 50%;
                margin: 0 2px;
                cursor: pointer;
                text-align: center;
                padding-top: 5px;
                &:hover {
                    background-color: #2f637e;
                }
            }
        }
    }
    .copyright {
        background-color: #0b212d;
        text-align: center;
        line-height: 10px;
        padding: 20px 0;
    }
}

.backtoheader {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: rgba(30, 67, 86, 0.8);
    bottom: 10px;
    right: 10px;
    color: white;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1000;
}

@media screen and (min-width: 992px) {
    nav {
        .container-sm {
            fa-icon {
                display: none;
            }
            .menu {
                display: block;
                padding-top: 10px;
            }
        }
    }
}