header {
    #carouselExampleControls {
        .carousel-control-prev,
        .carousel-control-next {
            top: 60px;
        }
        .carousel-item {
            transition: none;
            p {
                animation-delay: 0.4s;
            }
            .btn {
                animation-delay: 0.8s;
            }
        }
    }
    .hero-img {
        background-image: url(../../assets/hero-bg.jpg);
        background-position: center top;
        height: 80vh;
        width: 130vw;
        position: relative;
        top: -100px;
        left: 0;
        z-index: -1;
        border-radius: 0 0 50% 50%;
        transform: translateX(-15%);
        box-shadow: 20px 20px 0px #accfe0;
        overflow: hidden;
        &::after {
            position: absolute;
            content: '';
            height: 80vh;
            width: 130vw;
            background-color: #315061;
            opacity: 0.8;
        }
    }
    .carousel {
        position: absolute;
        top: 0;
        left: 0;
        height: 80vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .carousel-inner {
            color: white;
            padding: 0 30px;
            .carousel-item {
                text-align: center;
                padding: 0 30px;
                p {
                    max-width: 800px;
                    padding: 0 50px;
                    margin: 0 auto;
                }
                .btn {
                    color: white;
                    background-color: transparent;
                    border: 2px solid #68A4C4;
                    border-radius: 20px;
                    width: 150px;
                    &:hover {
                        background-color: #68A4C4;
                    }
                }
            }
        }
    }
}

main {
    color: black;
    width: 100vw;
    .services {
        margin: 40px 0;
        padding: 0px 15px;
        .service-card {
            height: 250px;
            border: 1px solid white;
            box-shadow: 0 5px 26px 0 rgb(68 88 144 / 14%);
            text-align: center;
            padding: 8px;
            &:nth-child(1):hover {
                border: 1px solid #ff689b;
            }
            &:nth-child(2):hover {
                border: 1px solid #3fcdc7;
            }
            &:nth-child(3):hover {
                border: 1px solid #41cf2e;
            }
            &:nth-child(4):hover {
                border: 1px solid #2282ff;
            }
            i {
                font-size: 2rem;
            }
            .icon-background {
                z-index: -1;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                margin: 10px auto;
                .fa-dribbble {
                    color: #ff689b;
                }
                .fa-file-alt {
                    color: #3fcdc7;
                }
                .fa-tachometer-alt {
                    color: #41cf2e;
                }
                .fa-globe-europe {
                    color: #2282ff;
                }
                .fa-dribbble,
                .fa-file-alt,
                .fa-tachometer-alt,
                .fa-globe-europe {
                    padding-top: 23px;
                }
            }
            //ib = icon background
            .ib1 {
                background-color: #fceef3;
            }
            .ib2 {
                background-color: #e6fdfc;
            }
            .ib3 {
                background-color: #eafde7;
            }
            .ib4 {
                background-color: #e1eeff;
            }
        }
    }
    .video-section {
        background-color: #f3f8fa;
        padding: 40px 0;
        .video-card {
            box-shadow: 0 5px 26px 0 rgb(68 88 144 / 14%);
            width: 90%;
            margin: 0 auto;
            padding: 30px;
            .video {
                min-height: 300px;
                min-width: 200px;
                background-image: url(../../assets/why-us.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                margin: 0 auto;
                object-fit: fill;
            }
            .video-info {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 40px 0;
                .video-icon {
                    font-size: 1.8rem;
                    height: 80px;
                    width: 80px;
                    background-color: grey;
                    text-align: center;
                    border-radius: 10px;
                    padding-top: 15px;
                    margin-right: 10px;
                    color: #68A4C4;
                    background-color: #dbecf3;
                    &:hover {
                        background-color: #bad8e4;
                        color: white;
                    }
                }
                .video-txt {
                    width: 70%;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .features-section {
        text-align: center;
        padding: 50px 0;
        p {
            width: 80%;
            margin: 30px auto;
        }
        img {
            width: 40%;
            margin-bottom: 20px;
        }
        h4 {
            width: 80%;
        }
        h4,
        h4+p,
        h4+p+p,
        h4+p+p+p {
            text-align: left;
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: 992px) {
    main {
        .features-section {
            img {
                width: 90%;
            }
        }
    }
}